html {
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100%;
}

.myclass {

}

.boardDetails {
    display: block;
}

.centerBoardDetails {
    margin: auto;
    width: 450px;
}

.horizontalSchedulers {
      list-style: none;
      margin: 0;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: flex-end;
}

.horizontalSchedulers li {
      text-decoration: none;
      display: block;
      padding: 0.5em;
      margin: 0.2em;
      background: yellow;
}

.horizontalSchedulers ul li {
    background-color: #EA80FC80;
}

.addButton {
    border-radius: 12px;
    margin-left: 0.2em;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.backButton {
    float: right;
    background-color: white;
}